<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 命名空间作用
  		1  映射文件唯一标识
  		2 应该与mapper接口路径保持一致
  		3 根据操作数据表的不同，生成不同的namespace  一个表对应一个mappe接口一个映射文件
   -->
<mapper namespace="com.jt.sso.mapper.UserMapper">
	<!-- 
		# 具有预编译效果，可防止sql攻击
		$ 常用来表示字段名
	 -->
	<select id="findCheckedUser" resultType="int">
		select count(*) from tb_user where ${column}=#{param}
	</select>
	
	<insert id="saveUser" parameterType="user">
		insert into tb_user(username,password,phone,email,created,updated) values(#{user.username},#{user.password},#{user.phone},#{user.email},now(),now())
	</insert>
	
	<select id="findUserByUP" resultType="user">
		select *from tb_user where username=#{username} and password=#{password}
	</select>
</mapper>
